.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 1;
  }
  
  .header__left {
    padding-left: 80px;
    display: flex;
    gap: 46px;
    align-items: center;
  }
  
  .header__menu-button {
    position: relative;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    color: #111111;
    font-size: 15px;
    font-weight: 600;
  }

  .header__menu-button::after {
    position: absolute;
    content: "МЕНЮ";
    left: 54px;
  }
  
  .burger-icon {
    position: relative;
    margin-right: 16px;
    width: 38px;
    height: 2px;
    background-color: #2F80ED;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .burger-icon::before,
  .burger-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 38px;
    height: 2px;
    background-color: #2F80ED;
    transition: transform 0.3s ease;
  }
  
  .burger-icon::before {
    top: -8px;
  }
  
  .burger-icon::after {
    top: 8px;
  }
  
  .header__menu-button:hover .burger-icon::before {
    transform: translateY(-4px);
  }
  
  .header__menu-button:hover .burger-icon::after {
    transform: translateY(4px);
  }
  
  .header__select-button {
    padding: 18px 24px;
    display: flex;
    gap: 14px;
    align-items: center;
    border-radius: 120px;
    background: #2F80ED;
  }

  .header__select-button.small-devices {
    display: none;
  }
  
  .select-button__text {
    position: relative;
    width: 162px;
    height: 15px;
    overflow: hidden;
  }

  .select-button__text span {
    color: white;
    font-size: 15px;
    font-weight: 600;
  }
  
  .text-top, .text-bottom {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    transition: transform 0.4s ease;
  }
  
  .text-bottom {
    top: 100%;
  }
  
  .header__select-button:hover .text-top,
  .header__callback-button:hover .text-top {
    transform: translate(0, -150%);
  }
  
  .header__select-button:hover .text-bottom,
  .header__callback-button:hover .text-bottom {
    transform: translate(0, -110%);
  }
  
  .header__right {
    padding-right: 80px;
    display: flex;
    gap: 46px;
    align-items: center;
  }
  
  .header__phone {
    color: #111111;
    font-size: 17px;
    font-weight: 600;
  }

  .header__callback-button {
    position: relative;
    width: 160px;
    height: 16px;
    overflow: hidden;
  }
  
  .header__callback-button span {
    color: #2F80ED;
    font-size: 15px;
    font-weight: 600;
  }

  .header__phone-button.medium-devices,
  .header__phone-button.small-devices {
    display: none;
    border-radius: 50%;
  }

  .header__phone-button.medium-devices {
    width: 43px;
    height: 43px;
    border: 1px solid #D7D7D7;
  }

  .header__phone-button.small-devices {
    width: 41px;
    height: 41px;
    border: 1px solid #2F80ED;
  }

  .phone-button__icon {
    transform: rotateZ(0deg);
    transition: transform 0.3s ease;
  }

  .header__phone-button:hover .phone-button__icon {
    transform: rotateZ(20deg);
  }

  @media screen and (max-width: 1920px) {
    .header {
        padding: 30px 0;
      }

      .header__left {
        padding-left: 40px;
        gap: 40px;
      }
      
      .header__menu-button {
        height: 30px;
        width: 88px;
        font-size: 13px;
      }

      .header__menu-button::after {
        position: absolute;
        content: "МЕНЮ";
        left: 46px;
      }
      
      .burger-icon {
        margin-right: 12px;
        width: 32px;
      }
      
      .burger-icon::before,
      .burger-icon::after {
        width: 32px;
      }
      
      .header__select-button {
        padding: 15px 20px;
        gap: 10px;
        border-radius: 100px;
      }
      
      .select-button__text span {
        height: 13px;
        font-size: 13px;
      }

      .header__logo {
        width: 155px;
      }
      
      .header__right {
        padding-right: 40px;
        gap: 40px;
      }
      
      .header__phone {
        font-size: 14px;
      }
      
      .header__callback-button span {
        font-size: 13px;
      }
  }

  @media screen and (max-width: 1440px) {
    .header {
        padding: 30px 0;
        height: 44px;
      }

      .header__left {
        padding-left: 30px;
        gap: 36px;
      }
      
      .header__menu-button {
        height: 30px;
        font-size: 12px;
      }
      
      .burger-icon {
        margin-right: 10px;
        width: 32px;
      }
      
      .burger-icon::before,
      .burger-icon::after {
        width: 32px;
      }

      .burger-icon::before {
        top: -6px;
      }
      
      .burger-icon::after {
        top: 6px;
      }
      
      .header__select-button {
        padding: 15px 20px;
        gap: 10px;
        border-radius: 100px;
      }
      
      .select-button__text span {
        height: 12px;
        font-size: 12px;
      }
      
      .header__right {
        padding-right: 30px;
        gap: 36px;
      }
      
      .header__phone {
        font-size: 13px;
      }
      
      .header__callback-button span {
        font-size: 12px;
      }
  }

  @media screen and (max-width: 1024px) {
    .header {
        padding: 40px 0;
      }

      .header__left {
        padding-left: 40px;
      }

      .header__select-button {
        padding: 15px 18px;
      }
      
      .header__select-button.large-devices, .header__phone,
      .header__callback-button {
        display: none;
      }

      .header__select-button.small-devices {
        display: flex;
      }
      
      .header__right {
        padding-right: 40px;
      }

    .header__phone-button.medium-devices {
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }

  @media screen and (max-width: 768px) {
    .header {
        height: 41px;
        padding: 20px 0;
      }
      
      .header__left {
        padding-left: 20px;
      }
      
      .header__menu-button {
        width: 29px;
        height: 14px;
      }
    
      .header__menu-button::after {
        content: "";
      }
      
      .burger-icon {
        margin-right: 0;
        width: 29px;
        background-color: black;
      }
      
      .burger-icon::before,
      .burger-icon::after {
        width: 29px;
        background-color: black;
      }
      
      .header__menu-button:hover .burger-icon::before {
        transform: translateY(-4px);
      }
      
      .header__menu-button:hover .burger-icon::after {
        transform: translateY(4px);
      }

      .header__logo {
        width: 130px;
      }
      
      .header__right {
        padding-right: 20px;
      }
    
      .header__phone-button.medium-devices {
        display: none;
      }

      .header__phone-button.small-devices {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .header__select-button.small-devices {
        display: none;
      }
  }